.gridItem {
    width: 500px;
    border: 1px black solid;
    margin: 10px;
    padding: 5px;
}

img {
    height: 400px;
    width:400px;
    object-fit: contain;
}

.photoBox {
    height: 400px;
}

/* button {
    font-size: 48px !important;
} */