#list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 90px;
    padding-top: 110px;
    row-gap: 10px;
    background-color:  #3f50b5;
}

